{
  "env": {
      "es6": true,
      "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true,
          "globalReturn": true
      },
      "sourceType": "module",
      "ecmaVersion": 2017
  },
  "rules": {
      "indent": [
          "warn",
          4
        ],
      "semi": [
          "warn",
          "always"
      ],
      "quotes": [
          "warn",
          "single"
      ],
      "no-console": 0,
      "no-const-assign": "warn",
      "no-this-before-super": "warn",
      "no-undef": "error",
      "no-unreachable": "warn",
      "no-unused-vars": "warn",
      "constructor-super": "warn",
      "valid-typeof": "warn"
  }
}
